.container {
  text-align: center;
}

hr {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

button {
  margin-top: 10px;
}

#viewSurveyResults h4 {
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  color: #00358b;
}

#viewSurveyResults .container {
  min-height: 100vh;
}

#viewSurveyResults .user_report_grid {
  width: 700px;
  height: 700px;
  margin: auto;
}

#viewSurveyResults .q_a_grid {
  width: 100%;
  height: 500px;
}

#viewSurveyResults .grid_header {
  color: #fff;
  background-color: #000;
}

#viewSurveyResults .ui-grid-footer-info {
  font-weight: bold;
}

.button-container {
  margin-bottom: 25px;
}

.dev-mountain-button {
  border: none;
  font-family: 'Lato', sans-serif;
  width: 180px;
  height: 30px;
  background: #2AABE2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
