h4 {
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  color: #00358b;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.dev-mountain-button {
  border: none;
  font-family: 'Lato', sans-serif;
  width: 180px;
  height: 30px;
  background: #2AABE2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

hr {
  border-bottom: 1px solid black;
}

.container {
  min-height: 100vh;
}

.results_h3 {
  font-size: 1.25em;
  margin: .5rem 0;
}

.close-button {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1.5px;
  background-color: red;
  border-radius: 50%;
}

.user_report_grid {
  width: 700px;
  height: 700px;
  margin: auto;
}

.q_a_grid {
  width: 800px;
  height: 500px;
}

.grid_header {
  color: #fff;
  background-color: #000;
}

#q_a_table {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.input-row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
