<header class="surveyHeader">
  <img routerLink="/student" class="logo" src="/assets/devmountain_logo_whitetext.png" height="70">
  <ul class="nav-links">
    <li><a routerLink="/admin/createModifyTemplate">Create / Modify Template</a></li>
    <li><a routerLink="/admin/createTopic">Add Topic</a></li>
    <li><a routerLink="/admin/sendSurvey">Send Survey</a></li>
    <li><a routerLink="/admin/viewResults">View Results</a></li>
    <li class="dropdown-btn">
      <a>More</a>
      <div class="dropdown-cell">
        <div><a class="admin_logout logout" routerLink="/admin/cohortAdmin">CohortAdmin</a></div>
        <div><a class="admin_logout logout" routerLink="/admin/cohortAnalytics"> CohortAnalytics</a></div>
        <div><a class="admin_logout logout" (click)="adminLogout()">Logout</a></div>
      </div>
    </li>
  </ul>
</header>
