p {
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
  color: #00358b;
}
.container > p {
  text-align: center;
}
.bold_text {
  font-weight: bold;
}

.container .row {
  margin-bottom: 50px;
}

div>option {
  display: none;
}

.question_crud {
  margin-top: 40px;
  margin-bottom: 60px;
}


.button {
  font-family: Arial;
  font-size: 1.2em;
  background: #444;
  color: white;
  width: 180px;
  margin: 30px auto;
}

.delete_icon:hover {
  cursor: pointer;
}

.variable_name {
  color: green;
}

div>option {
  display: none;
}

.input-row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.dev-mountain-button {
  border: none;
  font-family: 'Lato', sans-serif;
  width: 180px;
  height: 30px;
  background: #2AABE2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto;
}

.topics-container ul {
  width: 400px;
  padding: 20px;
  text-align: center;
  margin: 0 auto 15px;
  text-transform: uppercase;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
